@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgba(34, 112, 147,1.0);
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
}

#clock{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#display{
  background-color: rgba(255, 218, 121,1.0);
  max-width: 400px;
  min-width: 400px;
  max-height: 500px;
  min-height: 500px;
  border-radius: 5px;
  padding: 10px;
  border: 2px solid black;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  
}

#title {
  text-align: center;
}

#lengths{
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}


#break-label, #session-label{
  border: 2px solid black;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(34, 112, 147,0.7);
}

#s-in, #b-in{
  display: flex;
  justify-content: space-between;
  
}

#session-decrement, #break-decrement{
  transform: rotate(270deg);
  cursor: pointer;
  max-width: 20px;
  min-width: 20px;
  max-height: 20px;
  min-heigth: 20px;
}
#session-increment, #break-increment{
  transform: rotate(90deg);
  cursor: pointer;
  max-width: 20px;
  min-width: 20px;
  max-height: 20px;
  min-heigth: 20px;
}

#t-l{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 2px solid black;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(34, 112, 147,0.7);
}

#buttons{
  display: flex;
  justify-content: center;
}

#start_stop, #reset{
  border: 2px solid black;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
  padding: 5px;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: rgba(34, 112, 147,0.7);
  cursor: pointer;
  max-height: 50px;
  min-height: 50px;
  max-width: 50px;
  min-width: 50px;
}

#timer-label{
  text-align: center;
}

#time-left{
  text-align: center;
  font-size: 60px;
}